<!DOCTYPE html>
<html>

<head>
    <title>WebGIS Populasi Bali</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <a href="/">Home 🏠</a>
    <a href="/peta">Peta 📍</a>
    <a href="/tentang">Informasi 🏝️</a>
    <a href="/kontak">Kontak 🤙🏻</a>
</nav>

<section class="hero">

<h1>WEBGIS POPULASI PROVINSI BALI</h1>

<p>
Visualisasi interaktif data kependudukan
kabupaten/kota Provinsi Bali tahun 2026.
</p>

<a href="/peta" class="btn">
Lihat Peta
</a>

</section>

<section class="cards">

    <div class="card">
        <h2>4.488.240</h2>
        <p>Total Penduduk</p>
    </div>

    <div class="card">
        <h2>9</h2>
        <p>Kabupaten/Kota</p>
    </div>

    <div class="card">
        <h2>Buleleng</h2>
        <p>Populasi Tertinggi</p>
    </div>

<div class="hero-content">

</section>

<footer>

WebGIS Populasi Provinsi Bali 2026

Program Studi Oseanografi
Universitas Diponegoro

</footer>

</body>
</html>